<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patio de Juegos</title>
    <style>
        h1 {
            text-align: center;
        }

        .color1 {
            width: 200px;
            height: 200px;
            border: 2px solid black;
            border-radius: 4px;
            margin: 40px;
        }

        table {
            margin: 30px auto;
        }

        tr {
            display: flex;
            flex-wrap: wrap;
        }

    </style>

</head>
<body>
    <h1>Welcome!</h1>

    <table>
        <tr>
            {% for i in range(0, num) %}
            <td class="color1" style="background-color: {{color}};"></td>
            {% endfor %}
        </tr>
    </table>
</body>
</html>